<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_setting_about.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{46,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{46,46}}</string>
                <key>sourceSize</key>
                <string>{54,50}</string>
            </dict>
            <key>icon_setting_facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,94},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{44,44}}</string>
                <key>sourceSize</key>
                <string>{54,50}</string>
            </dict>
            <key>icon_setting_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,44},{48,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{54,50}</string>
            </dict>
            <key>icon_setting_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,94},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>icon_setting_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{41,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{41,50}}</string>
                <key>sourceSize</key>
                <string>{55,50}</string>
            </dict>
            <key>icon_setting_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{52,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{52,40}}</string>
                <key>sourceSize</key>
                <string>{54,50}</string>
            </dict>
            <key>icon_setting_vibration.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{54,44}}</string>
                <key>sourceSize</key>
                <string>{54,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:211f4770aefdd173bd2453ea4aaa0c27$</string>
            <key>textureFileName</key>
            <string>icon.png</string>
        </dict>
    </dict>
</plist>
